/* CSS file that is connected to the html file that uses it for styling the content in it */

*{
cursor: url(heart_cursor_2.cur), default;/*changes the cursor to the one desired */
margin: 0;/* this will set the whole page to 0 */
padding: 0;/* for a fresh clean start with no margin or paddings*/
font-family: Century Gothic;
}

body{
  background-image: url(pinkClouds.jpg); /* background image for the whole page*/
  background-repeat: no-repeat; /* to fill in the page it shouldn't repeat the image, instead streches the image*/
  background-attachment: fixed; /* fixes the image in place, so when you scroll the background doesn't move*/
  background-size: 100% 100%; /* to fill the whole page in terms of width and height*/
}

.nav_bar{
  list-style-type: none; /* to make the list bullet points marker as none*/
  margin-top: 2%; /* to adjust the location of the navigation bar from the top*/
  margin-left: 13%; /* to adjust the location of the navigation bar from the left*/
  position: fixed;  /* fixes the Navigation Bar in place, so when you scroll down it doesn't move up [positioned relative to the browser window]*/
  z-index: 1; /* interms of priority of what shows on top of the other, Navigation bar has the top priority [bring front]*/
}

.nav_bar li{
  float: left;
  display: inline; /*makes the list content [links] display on the same line*/
  padding: 14px; /*adds space between the list content [links]*/
}

.nav_bar li a{
  text-decoration: none; /*by default links are underlined, so setting this to none removes the underline*/
	color: white; /*makes text color white*/
	padding: 10px 20px; /*sets the padding around the links*/
	border: 1px solid transparent; /*sets border to transparent*/
  transition: 0.6s ease; /*adds animation to the navigation bar, so when the page opens..the navigation bar moves from left to right smoothly*/
  margin: 5px;
}

.nav_bar li a:hover{ /* when the cursor hovers over a link, changes happen to the style */
  background-color: white; /* when the cursor hovers over a link, the background color of that link becomes white */
  color: black; /* and the text color become black */

  /*once the cursor moves away the link goes back to it's original style*/
}

.nav_bar li.active a{ /* "active" is used to select and style the active link, a link becomes active when you click on it */
  background-color: white;
  color: black;
}

#head{  /* changing the position of the header */
  position: relative;
  top: 200px;
  left: 650px;
  border: 3px solid rgba(212, 175, 55, 1);
  border-radius: 15px;
  background-color: rgba(255, 192, 203, .5);
  width: 300px;
  padding: 10px 10px;
  text-align: center;
  font-family: Century Gothic;
}


.link1{  /* changing the position of the link */
  position: relative;
  top: 300px;
  left: 200px;
  font-family: Century Gothic;
}

.link2{  /* changing the position of the link */
  position: relative;
  top: 300px;
  left: 240px;
  font-family: Century Gothic;
}

.link3{  /* changing the position of the link */
  position: relative;
  top: 300px;
  left: 270px;
  font-family: Century Gothic;
}

.link4{  /* changing the position of the link */
  position: relative;
  top: 300px;
  left: 310px;
  font-family: Century Gothic;
}

.link5{  /* changing the position of the link */
  position: relative;
  top: 300px;
  left: 370px;
  font-family: Century Gothic;
}


.link1 img, .link2 img , .link3 img , .link4 img , .link5 img { /* changing the position of the facebook and instagram images */
  cursor: pointer;
}
