/* CSS file that is connected to the html file that uses it for styling the content in it */

*{
cursor: url(heart_cursor_2.cur), default;/*changes the cursor to the one desired */
margin: 0;/* this will set the whole page to 0 */
padding: 0;/* for a fresh clean start with no margin or paddings*/
font-family: Century Gothic;
}

body{
  background-image: url(pinkClouds.jpg); /* background image for the whole page*/
  background-repeat: no-repeat; /* to fill in the page it shouldn't repeat the image, instead streches the image*/
  background-attachment: fixed; /* fixes the image in place, so when you scroll the background doesn't move*/
  background-size: 100% 100%; /* to fill the whole page in terms of width and height*/
}

.nav_bar{
  list-style-type: none; /* to make the list bullet points marker as none*/
  margin-top: 2%; /* to adjust the location of the navigation bar from the top*/
  margin-left: 13%; /* to adjust the location of the navigation bar from the left*/
  position: fixed;  /* fixes the Navigation Bar in place, so when you scroll down it doesn't move up [positioned relative to the browser window]*/
  z-index: 1; /* interms of priority of what shows on top of the other, Navigation bar has the top priority [bring front]*/
}

.nav_bar li{
  float: left;
  display: inline; /*makes the list content [links] display on the same line*/
  padding: 14px; /*adds space between the list content [links]*/
}

.nav_bar li a{
  text-decoration: none; /*by default links are underlined, so setting this to none removes the underline*/
	color: white; /*makes text color white*/
	padding: 10px 20px; /*sets the padding around the links*/
	border: 1px solid transparent; /*sets border to transparent*/
  transition: 0.6s ease; /*adds animation to the navigation bar, so when the page opens..the navigation bar moves from left to right smoothly*/
  margin: 5px;
}

.nav_bar li a:hover{ /* when the cursor hovers over a link, changes happen to the style */
  background-color: white; /* when the cursor hovers over a link, the background color of that link becomes white */
  color: black; /* and the text color become black */

  /*once the cursor moves away the link goes back to it's original style*/
}

.nav_bar li.active a{ /* "active" is used to select and style the active link, a link becomes active when you click on it */
  background-color: white;
  color: black;
}

#CV_btn{ /* styling the CV button */
   position: relative;
   top: 200px;
   left: 700px;
   font-size: 180%;
   font-weight: bold;
   border: 3px solid rgba(212, 175, 55, 1);
   border-radius: 15px;
   padding: 10px 20px;
   background-color: rgba(255, 192, 203, .5);
   width:11.5%;
   color: black;
}

#CV_btn:hover{ /* change styling of the CV button when you hover on it */
  background-color: #555;
  color: rgba(212, 175, 55, 1);
}

#Heading{ /* styling the heading */
  position: relative;
  top: 50px;
  font-size: 180%;
  font-weight: bold;
  border: 3px solid rgba(212, 175, 55, 1);
  border-radius: 15px;
  padding: 10px 20px;
  background-color: rgba(255, 192, 203, .5);
  color: black;
}

#Container{ /* styling the CV container */
  position: relative;
  top:50px;
  border: 3px solid rgba(212, 175, 55, 1);
  border-radius: 15px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
}

h3{ /* styling the <h3> text */
  color: #996515;
  font-weight: bold;
  text-decoration: underline;
}

#MyName, #Gender, #Age, #DOB, #Phone, #Email, #Address, #Languages, #Marital_Status, #Programing_Languages, #skills, #skills_list, #Side_Skills, #other_skills_list, #Academic_Certificate, #personal, #Interest_list {
  font-size: 110%;
  font-weight: bold;
  color: black;
  display: flex;
}

#Programing_Languages_Table, #Programing_Languages_Table2 {
  font-family: Century Gothic;
  border-collapse: collapse;
  width: 20%;
  position: relative;
  text-align: center;
  border: 3px solid rgba(212, 175, 55, 1);
  padding: 20px 20px;
}


#Programing_Languages_Table tr,  #Programing_Languages_Table2 tr, #Education_Table tr{
  background-color: #f2f2f2;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 3px solid rgba(212, 175, 55, 1);
  color: black;
}

#Programing_Languages_Table th,  #Programing_Languages_Table2 th, #Education_Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(255, 192, 203, .5);
  text-align: center;
  color: black;
}

#Education_Table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  height: 20%;
  position: relative;
  text-align: center;
  border: 3px solid rgba(212, 175, 55, 1);
  padding: 20px 20px;
}

#GoBackToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: White;
  color: rgba(212, 175, 55, 1);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-weight: bold;
}

#GoBackToTop:hover {
  background-color: #555;
}
